* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #adb5bd;
}

main {
  font-family: monospace;
  color: #6c757d;
}

h1 {
  text-align: center;
  padding-bottom: 1ch;
}

.calc-container {
  background-color: #fff;
  margin: 10ch auto 0 auto;
  width: 375px;
  padding: 5ch 2ch 8ch 2ch;
  border: 2px solid gray;
  border-radius: 5px;
}

.disp-container {
  margin: 8px 6px;
  font-size: 50px;
  text-align: end;
  padding: 3px 12px;
  overflow: hidden;
  border: 1.5px solid #e3e3e3;
  border-radius: 5px;
  text-shadow: 3px 3px 5px #adb5bd;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  padding: 5px;
  gap: .5rem;
}

.btn-container button {
  font-size: 20px;
  padding: .75rem;
  background-color: transparent;
  border-radius: 5px;
}

.btn-container button:hover {
  cursor: pointer;
  background-color: #ced4da;
}